<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/style.css" type="text/css" />
    <title>URL Shortner</title>
  </head>

  <body>
    <h1 class="h1">URL Shortner</h1>
    <form class="form" method="POST" action="/url">
      <div class="input-group">
        <label class="label">Enter Your Original URL</label>
        <input
          name="url"
          id="url"
          class="input"
          placeholder="https://example.com"
        />
      </div>
      <button class="button" type="submit">Generate</button>
    </form>

    <% if (locals.id) { %>
    <p class="p">
      URL Generated : <%= process.env.NODE_ENV === 'production' ?
      'https://url-shortner-faizan.vercel.app' : 'http://localhost:8000'
      %>/url/<%= id %>
    </p>
    <% } %>
    <div class="data">
      <% if (locals.urls) { %>
      <table>
        <thead>
          <th>S.No</th>
          <th>ShortID</th>
          <th>Redirect</th>
          <th>Clicks</th>
        </thead>
        <tbody>
          <% urls.forEach((url,index) => { %>
          <tr>
            <td><%= index+1 %></td>
            <td><%= url.ShortId%></td>
            <td><%= url.redirectURL %></td>
            <td><%= url.visitHistory.length %></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
      <% } %>
    </div>
  </body>
</html>
