<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="/styles/style.css" type="text/css" /> -->
    <title>URL Shortner</title>
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding: 10px;
        background-color: #1d2135;
        min-width: 1024px;
      }

      .h1 {
        display: grid;
        place-content: center;
        margin-bottom: 20px;
        color: #8b5cf6;
        font-size: 96px;
      }
      .p {
        color: #eef0fc;
      }

      .form {
        display: grid;
        place-content: center;
        gap: 10px;
      }

      .input-group {
        min-width: 400px;
      }

      .input {
        min-width: 400px;
        height: 44px;
        background-color: #eef0fc;
        border-radius: 0.5rem;
        padding: 0 1rem;
        outline: none;
        border: 2px solid transparent;
        font-size: 1rem;
        transition: border-color 0.3s cubic-bezier(0.25, 0.01, 0.25, 1) 0s,
          color 0.3s cubic-bezier(0.25, 0.01, 0.25, 1) 0s,
          0.2s cubic-bezier(0.25, 0.01, 0.25, 1) 0s;
      }

      .label {
        display: block;
        margin-bottom: 0.3rem;
        font-size: 0.9rem;
        font-weight: bold;
        color: #eef0fc;
        transition: color 0.3s cubic-bezier(0.25, 0.01, 0.25, 1) 0s;
        padding-bottom: 8px;
      }

      .button {
        max-width: 100px;
        background-color: #eef0fc;
        border-radius: 4px;
        color: black;
        cursor: pointer;
        padding: 10px;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 1px;
        border: none;
      }

      .button:hover {
        background-image: linear-gradient(
          90deg,
          #53cbef 0%,
          #dcc66c 50%,
          #ffa3b6 75%,
          #53cbef 100%
        );
        animation: slidernbw 5s linear infinite;
        color: #000;
      }

      @keyframes slidernbw {
        to {
          background-position: 20vw;
        }
      }

      .data {
        margin-top: 10px;
        display: grid;
        place-content: center;
        gap: 8px;
      }

      table {
        border-collapse: collapse;
        width: 100%;
      }
      .form {
        padding-bottom: 20px;
      }
      th {
        background-color: #f2f2f2;
        color: #333;
        font-weight: bold;
        padding: 8px;
        text-align: left;
      }

      td {
        border-bottom: 1px solid #ddd;
        padding: 8px;
        color: white;
      }
    </style>
  </head>

  <body>
    <h1 class="h1">URL Shortner</h1>
    <% if (locals.id) { %>
    <p class="p">URL Generated : http://localhost:8000/url/<%= id %></p>
    <% } %>
    <form class="form" method="POST" action="/url">
      <div class="input-group">
        <label class="label">Enter Your Original URL</label>
        <input
          name="url"
          id="url"
          class="input"
          placeholder="https://example.com"
        />
      </div>
      <button class="button" type="submit">Generate</button>
    </form>
    <div class="data">
      <% if (locals.urls) { %>
      <table>
        <thead>
          <th>S.No</th>
          <th>ShortID</th>
          <th>Redirect</th>
          <th>Clicks</th>
        </thead>
        <tbody>
          <% urls.forEach((url,index) => { %>
          <tr>
            <td><%= index+1 %></td>
            <td><%= url.ShortId%></td>
            <td><%= url.redirectURL %></td>
            <td><%= url.visitHistory.length %></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
      <% } %>
    </div>
  </body>
</html>
